<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcraton10tK-cK7B7x5jISF-tf6wGmAYg</string>
	<key>GCM_SENDER_ID</key>
	<string>87659398419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thammythuhien.ezs</string>
	<key>PROJECT_ID</key>
	<string>tham-my-thu-hien</string>
	<key>STORAGE_BUCKET</key>
	<string>tham-my-thu-hien.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87659398419:ios:adaa409b841e098c8606e6</string>
	<key>DATABASE_URL</key>
	<string>https://tham-my-thu-hien-default-rtdb.firebaseio.com</string>
</dict>
</plist>